.charts {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}

.chart-box {
  background: white;
  width: 600px; /* Increased width */
  height: auto; /* Let the height adjust as needed */
  border-radius: 20px;
  padding: 20px;
  box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.1),
  inset -3px -3px 8px rgba(255, 255, 255, 0.6);
  flex: 1 1 45%; /* This makes the charts responsive and ensures they take up equal space */
}

.chart-container {
  max-width: 100%; /* Ensure the chart doesn't overflow */
  margin: auto;
  padding: 20px;
}

.chart-label {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
